.profile-links{
    background-color: rgb(18, 182, 191);
    padding: 30px 20px;
    text-align: center;
    margin: 100px 70px 0 70px;
    border-radius: 10px;
}
.profile-links img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 25px;
}

.profile-links li{
    display: block;
    margin: 10px 0;
}

.profile-links li a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;

}
.mt-custum{
    margin-top: 100px;
}
.mt-custum .details{
    border-bottom: 1px solid  rgb(18, 182, 191);
    padding: 20px;
    font-weight: 500;
}
.text-justify{
    text-align: justify;
}

.link-style:hover{
    font-size: 1.5em;
    color: black;
}


@media (max-width:1200px){
    .mt-custum{
        margin-top: 50px;
    }
    .profile-links{
        background-color: rgb(18, 182, 191);
        padding: 30px 20px;
        text-align: center;
        margin: 50px 50px 0 50px;
        border-radius: 10px;
    }
}
@media (max-width:991px){
    .mt-custum{
        margin-top: 20px;
    }
    .profile-links{
        background-color: rgb(18, 182, 191);
        padding: 30px 20px;
        text-align: center;
        margin: 20px 0 0 0;
        border-radius: 10px;
    }
}
@media (max-width:600px){
   .profile-links li{
    margin: 0;
    
   }
   .profile-links img{
    margin-bottom: 10px;
    
   }
   .mt-custum .details {
    padding: 10PX;
   }
}