/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* html5 reset code */
body{
    background-image: url('./img/loginbg.jpg');
    background-position: center;
    background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

.flex .logo img{
    height: 70px;
    margin-top: 30px;
}

/*-----banner-------*/
.banner{
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: '';
    bottom: -18%;
    right: 0;
    /* background-image: url("../AdminPannel/img/cv\ photo.jpg"); */
    width: 800px;
    height: 400px;
    background-size: 700px;
    background-repeat: no-repeat;

}

.banner .detail{
    position: absolute;
    padding: 7rem;
    left: 35%;
    text-align: center;
    z-index: 200;

}
.banner .detail h1{
    font-size: 4rem;
    color: #fff;

    text-transform: capitalize;

}
.banner .detail p{
    font-size: 18px;
    line-height: 2;
}
.banner .detail a{
    text-transform: uppercase;
    color: #000;
}
.banner .detail span{
    color: #fff;
}
/*-----header-------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transform: .3s;
    background-color: rgb(164, 225, 249);
}
header .scrolled{
    background: #fff;
    box-shadow: 0 5px 0.1px rgba(0, 0,0,0.1);
    backdrop-filter: blur(20px);
}
header .scrolled a:hover{
    color: var(--orange);

}
.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

/*----nav----*/

.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

}
.navbar a:hover,
header .icons i:hover{
    color: #8b0505;
   font-size: 1.5rem;
    text-transform: bold ;
    text-decoration: none;
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.2rem ;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;

}
#menu-btn{
    display: none;

}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 2rem;
    background: rgb(255 255 255/ 80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}

.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 10rem;
    border-radius: 4px;
}
.header .user-box.active{
    transform: scale(1.0);
    transition: .2s linear;
}

/*---------------admin dashboard---------------*/

.dashboard{
    background: var(--orange);
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}
.dashboard::before{
    position: absolute;
    content: '';
  top: -25%;
    left: -10px;
    /* background-image: url("../AdminPannel/img/cv\ photo.jpg"); */
    width: 225px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}
.box-container{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    column-gap: 1rem;

}
.box-container .box{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;

    border-radius: 5px;
    margin: 1rem;
}
.dashboard h3{
    text-align: center;
    font-size: 2rem;
}
.dashboard p{
    font-size: 20px;
    text-transform: capitalize;
    margin:.5rem 0;
}

/*--------------admin product page---------------*/

.add-products{
    margin-top: -3.5rem;
    height: auto;
    background: #f5f5f5;
    position: relative;
}
.show-products,
.message-container,
.order-container{
    position: relative;
    background: var(--orange);
    margin-top: -3.5rem;

}
.show-products::before,
.order-container::before{
    /* background-image: url('./img/ss1.jpg'); */
    top: -100px;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-ft,minmax(20rem,1fr));;
}
.box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
}
.box-container .box{
    line-height: 2;
}
.edit,
.delete{
    color: black;
    background: rgb(189, 189, 245);
    padding: .5rem 1.5rem;
    text-transform: capitalize;
    line-height: 2;
    text-decoration: none;
    border-radius: 5px;
    border-color: #ff9;
}
.edit:hover,
.delete:hover{
    color: #fff;
    background-color: #000;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: rgb(210, 255, 46);
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none; /*display: block; */

}
.update-container form{
    box-shadow: var(--box-shadow);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;


}
.update-container .edit,
.update-container .btn{
    width: 40%;
    cursor: pointer;
}
.update-container form img{
    width: 70%;
}
.update-container form input,
.update-container form textarea{
    width: 80%;
}

.message-container .title,
.order-container .title
{
    text-transform: uppercase;
    padding-top: 3rem;
    
}
.order-container{
    padding: 3% 7%;

}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    align-items: flex-start;
}
.box-container .box{
    text-align: left;
    padding: 1rem 2rem;

}
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: hotpink;

}
.order-container .box span{
    color: #555;
}
.order-container form{
    text-align: center;
}
.order-container form select{
    width: 100%;
    margin: 1rem auto;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 3px;
}
.order-container form input{
    width: 50%;
   
}
.order-container .delete{
    width: 100%;
}
/*---------------wishlist---------------*/
.disabled{
    pointer-events: none;
    opacity: .5;

}
.wishlist_total{
    max-width: 1200px;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 3rem 0;
    line-height: 2;
    text-transform: capitalize;
    margin-bottom: 3rem;
    background: #f2ffcf;
}
.wishlist_total p{
    font-size: 1.5rem;

}
.wishlist_total a{
    text-transform: capitalize;
    font-size: 16px;
    margin-right: 2rem;
    text-decoration: none;

}
.qty{
    display: flex;
    justify-content: space-between;
}
.qty input[type='number']{
    width: 35%;
}
.qty input[type='submit']{
    width: 55%;
    cursor: pointer;
    background: rgb(168, 236, 30);
    box-shadow: none;
    color: #fff;
}
.dlt{
    text-align: center;
    text-transform: uppercase;
    background: #000;
    width: 50%;
    margin: auto;
    padding: .5rem 0;
    border-radius: 5px;
}
/*---------------checkout page---------------*/

.display-order{
    box-shadow: var(--box-shadow);
    width: 50vw;
    margin: 1rem auto;
    text-align: xcenter;
    padding: 2rem 1rem;
    line-height: 2;

}
.display-order .box-container{
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
}
.display-order .box{
    display: flex;
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
    padding: .5rem 2rem;
    align-items: center;
}
.display-order .box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.display-order span{
    display: inline ;
    background: #f5f5f5;
    padding: .4rem;
    border-radius: 3px;
    text-transform: capitalize;
}
.display-order .grand-total{
    width: 90%;
    background: var(--orange);
    color: #fff;
    cursor: pointer;
}
.checkout-form form{
    width: 50vw;
    box-shadow: var(--box-shadow2);
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
}
.input-field label{
    margin: 2rem auto;
    text-transform: uppercase;
}

/*---------------media screen---------------*/
@media (max-width: 991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #62a5af;
        transition:.3s ease;
        clip-path:  polygon(0 0,100% 0,100% 0%, 0 0);
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);

    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;

    }
    .banner .detail{
        left: 10%;
    }
}
/*-------------form----------*/
.btn{
    padding: .8rem 2.5em;
    text-transform: uppercase;
    background-color: #fff;
    color: var(--orange);
    border-radius: 10px;
    cursor: pointer;

}
.btn:hover{
    background: #000;
    color: #fff;
}

.title{
    text-align: center;
    margin-bottom: 1rem;
}
.title h1{
    font-size: 3rem;
    text-transform: uppercase;
}
.title span{
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);
}

.line,
.line4{
    /* background-image: url("./img/cv\ photo.jpg"); */
    width: 100%;
    height: 100px;
    margin-top: -3.6rem;

}
.line{
    margin-bottom: 10rem;
}

.line2,
.line3{
    /* background-image: url("./img/cv\ photo.jpg"); */
    width: 100%;
    height: 100px;
    margin-top: -3.5rem;
}
.line3{
    margin-top: -3.5rem;
    margin-bottom: 7rem;

}
.message,
.empty{
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 59%;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
}

.message i{
    cursor: pointer;
}
.empty{
    text-align: center;
    padding: 1rem;
    align-items: center;
    justify-content: center;

}

input
,button
,textarea,
select{
    outline: none;
    border: 1px solid #555544;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
margin: 1rem 0;


}
button{
    cursor: pointer;
}
input[type=submit]{
    cursor: pointer;
}

/*-----------------form-container-------------*/
.form-container{
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    position: relative;
}
.form-container::before,
.show-products::before,
.message-container::before,
.order-container::before{
    content: '';
    position: absolute;
    /* background: url("./img/pp1.jpeg"); */
    top: -5%;
    left: -10px;
    width: 255px;
    height: 650px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
}
.form-container::after{
    content: '';
    position: absolute;
    /* background: url("./img/pp2.jpeg"); */
   bottom: 0;
    right: 0;
    width: 255px;
    height: 220px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 1;
}

.form-container h1{
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;

}
.form-container form{
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255/ 80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;

}

.form-container form label{
    text-transform: uppercase;
    width: 100%;
}
.form-container form input{
    width: 85%;
}
.form-container form textarea{
    width: 85%;
    height: 200px;
}
.form-container form button{
    width: 85%;
    background: var(--orange);
    border: none;
}

sup{
    position: absolute;
    top: 11%;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: .1rem;
}


.search-layout{
    margin-top: 100px;
}
.search-layout > div{
    width: 70%;
    margin: 30px auto 0;

}
.search-header {
    display: flex;
    align-items: center;
}
.search-header > h2{
    font-weight: 600;
    font-size: 22px;
}
.search-header > h2+i{
    margin-left: auto;
    margin-right: 8px;
}
.search-header > p{
    margin-right: 10px;
}
.search-header > div{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search-header > div > h3,
.search-header > div > i{
    color: var(--main-color);
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;

}
.search-bar{
    display: flex;
    margin: 20px 0;
    width: 100%;
    background-color: white;
    border: 1px lightgrey solid;
    border-radius: 40px;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: lightgrey 0 0 4px;
    align-items: center;
}
.search-bar > i{
    margin-left: 30px;

}
.search-bar > input[type="text"]{
    margin: auto 20px;
    border: none;
    
    outline: none;
    font-size: 15px;
    width: 100%;
}
.search-bar > input[type="submit"]{
    margin-left: auto;
    border: none;
    background-color: red;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 35px;
    cursor: pointer;
}

.search-bar input::placeholder{
    font-size: 14px;
}